.searchBox {
    form {
        max-width: 350px;

        input {
            border: 2px solid $primary;
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }

        button {
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
        }

        input,
        button {
            &:focus {
                outline: none;
                box-shadow: unset;
            }
        }
    }
}